.login-form{
    max-width: 400px;
    margin: 0 auto;
}

.tab-container{
    max-width: 400px;
    margin: 0 auto;
}

a{
    outline: 0;
}

#map{
    width: 600px;
    height: 400px;
}